/* stylelint-disable selector-list-comma-newline-after */

hr{
	border: 1px solid grey;

}
	
body{
	background-color: #EEE;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
  
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.jumbotron{
	display:flex;
	align-items:center;
	text-align:center!important;
	margin-bottom:0!important;
}

.admin{
	display:inline-block;
	width:100%;
}

.logo{
	position:absolute;
	height:200px; width:200px; 
	display:inline-block
 
}

.titulo{
	display:inline-block;
	width:60%;
	margin-left:220px;
	
}

.meio{
	margin: 0 auto;
	width:90%;

}


.corpo{
	background-color: #fff; 
	position:relative;
	width:80%; 
	border-left: 2px solid #ccc; 
	border-right: 2px solid #ccc;
	float:left
	
}

.topo{
	padding: 10px 25px;
	border-bottom: 2px solid #ccc;
	text-align: center;
}

.topo a{
	color: #333; 
	text-decoration: none; 
	font: 20px Times;
	padding-right:15px;
	padding-left: 15px;
}

a:hover{
	text-decoration: underline;
	color: #333; 
}

.flutuacao-direita{
	float: right;
}

.conteudo{
	background-color: #fff;
	padding: 20px 25px;
	border-bottom: none !important;
}

.conteudo h1{
	margin-bottom: 20px; 
	
}

.conteudo article{
	margin-bottom: 20px;
}

.conteudo article h2{
	margin-bottom: 10px
}



.blog-post-title a{
	
	margin-bottom: .25rem !important;
  font-size: 2rem !important;
	
}

a{
	color: #045B62;
}


.conteudo article p{
	font: 16px Times; color: #333;padding-left: 10px
}

.lateral{
	width:20%;
	position:relative;
	float:right;
	padding: 10px;
	border-bottom: 2px solid #ccc;
	border-left: 0px;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}


.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}


.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
	width:100%;
	display:flex;
	
	border-top: 2px solid #ccc;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  
 
}

.blog-footer p:last-child {
  margin-bottom: 0;
}