<section>

	<article class="blog-post">
		<header>
			<h2 class="blog-post-title">{{titulo}}</h2>
			 <p class="blog-post-meta">Postado em: {{data}}</p>
			 
		</header>

		<p>{{conteudo}}</p>

		<br><hr><br>
		
		<form method="post" action="{{id_post}}/addComentario">
		
			<h4>Adicionar Comentário:</h4><br>
			Nome: <br><input type="text" name="nome" size="48"/><br><br>
			Comentário: <br><textarea name="comentario" cols="50" rows="5"></textarea><br><br>
			
			<input type="hidden" name ="id_postagem" value="{{id_post}}" />
			<input type="hidden" name ="pagina" value="{{conteudo}}" />
			
			<input type="submit" Value="Adicionar"/>
		
		</form>
		<br>
		{% if comentarios == false %}
			<p> Nenhum comentário</p>
		{% else %}
			{% for c in comentarios %}
				<h4>{{c.autor}} disse:</h4>
				<p> {{c.conteudo}}</p>
			{% endfor %}
		{% endif %}
	</article>
	
</section>