<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://localhost/projetos-aline/site_simples/css/bootstrap.min.css" >
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
		<link href="http://localhost/projetos-aline/site_simples/css/carousel.css" rel="stylesheet">
		<link href="http://localhost/projetos-aline/site_simples/css/blog.css" rel="stylesheet">
		<link href="http://localhost/projetos-aline/site_simples/css/custom.css" rel="stylesheet">
	</head>

	<body>
		
		
		<div id="menu">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="#">Carousel</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					</li>
				  </ul>
				  <form class="form-inline mt-2 mt-md-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				  </form>
				</div>
			  </nav>
		</div>
			  
		
		
		<div class="jumbotron  p-md-4 text-white rounded bg-dark inicio">
			
			<div class="logo">
				<img src="http://localhost/projetos-aline/site_simples/assets/logo.png">
			</div>
			
			<div class="col-md-10 titulo"  >
				
				<h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
				<p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
				<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
			</div>
			
		
		</div>
		
	
		<div class="meio">
			<div class="corpo">
					<div class="topo">
						<header>
							<nav>
								<a href="http://localhost/projetos-aline/site_simples/">Home</a>
								<a href="http://localhost/projetos-aline/site_simples/sobre">Sobre</a>
								<a href="http://localhost/projetos-aline/site_simples/admin/loginView" class="flutuacao-direita"> Admin</a>
								

							</nav>
						</header>
					</div>
					

					<div class="conteudo">
						{{area_dinamica}}
					</div>
			</div>
		
			<div class="corpo lateral">
				<p>lateral texto bla bla blatexto bla bla blatexto bla bla blatexto bla bla blatexto bla bla blatexto bla bla blatexto bla bla blatexto bla bla blatexto bla bla bla</p>
			</div>
		</div>
		
		<footer class="blog-footer">
        <!-- Rodapé -->
       
			<div class="container ">
				<div class="brand"></div>
				<div class="p-4"></div>
				<div class="menus">
					<div class="row">
						<div class="col-md-3 col-6">
							<span>MENU</span>
							<div class="p-2"></div>
							<ul class="menu">
								<li><a href="javascript://" data-id="allcontent">Home</a></li>
								<li><a href="javascript://" data-id="about">Quem sou</a></li>
								<li><a href="javascript://" data-id="services">O que faço?</a></li>
								<li><a href="javascript://" data-id="portifolio">Portifólio</a></li>
								<li><a href="javascript://" data-id="vlog">Vlog</a></li>
								<li><a href="javascript://" data-id="contact">Contato</a></li>
							</ul>
							<div class="p-2"></div>
						</div>
						<div class="col-md-3 col-6">
							<span>REDES SOCIAIS</span>
							<div class="p-2"></div>
							<ul>
								<li><a href="https://www.instagram.com/attekitadev/" target="_blank">Instagram</a></li>
								<li><a href="https://www.linkedin.com/in/bullas-attekita-681b8632/" target="_blank">LinkedIn</a></li>
								<li><a href="https://www.youtube.com/channel/UCetRsdZxDQDcgVDJd6erz6g" target="_blank">Youtube</a></li>
							</ul>
							<div class="p-2"></div>
						</div>
						<div class="col-md-6">
							<div class="contact-info">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-6">
										<div class="label">
											<div class="icon"><i class="fas fa-phone"></i></div>
											TELEFONE DE<br>
											ATENDIMENTO                                    </div>
									</div>
									<div class="col-md-6 col-sm-6 col-6">
										<div class="phone">
											<a href="">62 99985 7444</a>
										</div>
									</div>
								</div>
								<div class="p-2"></div>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-6">
										<div class="label">
											<div class="icon"><i class="fas fa-envelope"></i></div>
											E-MAIL PARA<br>
											CONTATO                                    </div>
									</div>
									<div class="col-md-6 col-sm-6 col-6">
										<div class="mail">
											<b>CONTATO</b>
											@attekita.com                                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p-4"></div>
				<div class="credits">
					Copyright © 2018 Attekita Dev            </div>
				<div class="p-4"></div>
			</div>
        <!-- Rodapé -->
    </footer>
		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="http://localhost/projetos-aline/site_simples/js/bootstrap.min.js" ></script>
	</body>


</html>